*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background-color: #846632;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
input{
	outline: none;
}
header{
	width: 100%;
	height: 93px;
	overflow: hidden;
	background-color: #333;
}
header .container,.types .container{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	/*border: 1px solid red;*/
}
.types .container{
	position: relative;
}
header ul.left{
	float: left;
	width: 300px;
	text-align: center;
	font-size: 12px;
}

header li{
	float: left;
}
header ul.left li{
	float: left;
	height: 30px;
	line-height: 30px;
	margin-left: 15px;
	margin-top: 2px;
	padding: 0 5px;
	color: #D7D7D7;
}
header ul.left li:first-child{
	margin-left: 0;
}
header ul.left li:nth-child(3){
	padding: 0 10px;
	/*background: #FFFFFF;*/
}
header ul.left li .s-bag{
	display: none;
	position: absolute;
	width: 280px;
	padding: 20px 15px;
	top: 30px;
	left: 162px;
	background-color: #fff;
	color: #000;
}
header ul.left li>img{
	width: 15px;
	vertical-align: middle;
	margin-top: -5px;
}
header ul.left li a{
	color: #D7D7D7;
}
header ul.left li a span{
	color: red;
	padding: 0 5px;
}
header ul.left li a>img{
	width: 15px;
	vertical-align: middle;
	margin-top: -3px;
}
header ul.left a:hover{
	color: #C4C4C4;
}
header ul.left li:nth-child(2):hover a.a{
	color: #D50215;
}

header ul.left li ul#myshow{
	display: none;
	position: absolute;
	width: 83px;
	/*height: 150px;*/
	top: 30px;
	left: 272px;
	background-color: #fff;
}
header ul#myshow li.sh{
	margin: 0;
	padding: 0;
	padding-left: 10px;
	font-size: 13px;
	color: #000;
	cursor: pointer;
}
header ul#myshow li.sh:hover{
	color: #D50215;
}
header .show-center{
	float: left;
	width: 600px;
	height: 100%;
	text-align: center;
	/*border: 1px solid red;*/
}
.show-center ul.nav{
	width: 100%;
	height: 60px;
	margin-top: -5px;
}
.show-center ul.nav li{
	padding: 10px 18px 13px;
}
.show-center ul.nav li:hover{
	border-bottom: 3px solid #727071;
}
.show-center ul.nav li:hover a{
	/*color: #C4C4C4;*/
	color: #BFBFBF;
}
.show-center ul.nav li a{
	color: #eee;
	font-family: "微软雅黑";
	font-size: 15px;
}
header input{
	float: right;
	width: 263px;
	height: 28px;
	border: 1px solid #787878;
	background-color: #333333;
	color: #D7D7D7;
	padding-left: 10px;
}
header img.search{
	position: absolute;
	width: 20px;
	top: 5px;
	right: 90px;
}
.types{
	width: 100%;
	height: 44px;
	background-color: #F7F7F7;
}
.types .type{
	position: relative;
	display: inline-block;
	padding: 0 15px;
	text-align: center;
	line-height: 42px;
	z-index: 1;
	cursor: pointer;
	border: 1px solid #F7F7F7;
	border-bottom: none;
	/*border: 1px solid red;*/
}
.types .detail{
	display: none;
	position: absolute;
	width: 700px;
	height: 400px;
	top: 43px;
	left: 280px;
	/*z-index: 1;*/
	border: 1px solid #D7D7D7;
}
/*图片头部开始*/
#top{
	width: 100%;
			
}
#top .one{
	width: 100%;
	height: 159px;
}
#top .one{
	background: url("../img/images/top_01.jpg") no-repeat center;
}
#top .two{
	background: url("../img/images/top_02.jpg") no-repeat center;
}
#top .three{
	background: url("../img/images/top_03.jpg") no-repeat center;
}
#top .four{
	background: url("../img/images/top_04.jpg") no-repeat center;
}
#top .five{
	background: url("../img/images/top_05.jpg") no-repeat center;
}
#top .six{
	background: url("../img/images/top_06a.jpg") no-repeat center;
}

/*男装开始*/
.goodwrap{
	width: 100%;
	overflow: hidden;
}
.goodwrap .men{
	width:1300px;
	margin: 0 auto;
	background-color: #C4A674;
}
.goodwrap .men .title{
	height: 192px;
	background: url("../img/image/men_t.jpg") no-repeat center;
	background-size:cover;
}
.goodwrap .goodsbox{
	background-color: #C4A674;
}
.goodsbox ul.men-cloth{
	width: 1200px;
	background-color: #C4A674;
	margin: 0 auto;
	overflow: hidden;
}
.goodsbox ul.men-cloth li{
	float: left;
	width: 386px;
	height: 481px;
	margin-left: 20px;
	margin-bottom: 20px;
}
.goodsbox ul.men-cloth li:first-child{
	margin-left: 0;
}
.goodsbox ul.men-cloth li:nth-child(4n){
	margin-left: 0;
}

